[Container]
Image=ghcr.io/enderdash-com/enderdash-agent:latest
ContainerName=enderdash-agent
EnvironmentFile=enderdash-agent.env
GroupAdd=keep-groups
Volume=enderdash-agent-data.volume:/enderdash/data
Volume=%t/podman/podman.sock:/run/podman/podman.sock
Environment=DOCKER_HOST=unix:///run/podman/podman.sock

[Service]
Restart=always

[Install]
WantedBy=default.target
